<a routerLink="create" type="button">Create a new game</a>

<div class="create-game">
    <textarea name="newGame" #newGame="ngModel" [(ngModel)]="newGame" [value]="newGame"></textarea>
</div>

<div class="list" *ngFor="let game of games">
    <div>
        {{game.id}}
        <small>Size: {{game.rows}}x{{game.columns}}</small>
        <button type="button" (click)="selectGame(game)">Play</button>
    </div>    
</div>
<br>
<game *ngIf="selectedGame.id != undefined" [game]="selectedGame"></game>